@font-face {
    font-family: "Rubik";
    src: url("fonts/Rubik-Black.ttf") format("Opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("fonts/OpenSans-Bold.ttf") format("Opentype");
    font-weight: bold;
    font-style: normal;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.img_home {
    width: 100%;
}

.texto_footer {
    font-family: "OpenSans";
    height: 60%;
    padding: 100px;
    text-align: center;
}

.nombre_marca {
    font-family: "Rubik";
    font-size: 50px;
    color: #000;
}

.carrusel {
    display: flex;
    padding: 50px;
}

.IA {
    width: 250px;
    height: 167px;
}

.robot {
    width: 250px;
}

.nube {
    width: 250px;
}

.cuadro1 {
    display: flex;
    gap: 20px;
    padding: 50px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 2px solid #000;
}

.contenedor_mision_vision {
    display: flex;
    gap: 20px;
    padding: 50px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.mision {
    width: 250px;
}
.vision {
    width: 250px;
}

.caja_mision {
    display: flex;
    gap: 20px;
    padding: 50px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.caja_vision {
    display: flex;
    gap: 20px;
    padding: 50px;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
}
