@font-face {
    font-family: "Rubik";
    src: url("fonts/Rubik-Black.ttf") format("Opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("fonts/OpenSans-Bold.ttf") format("Opentype");
    font-weight: bold;
    font-style: normal;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

hr {
    height: 15px;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.img_home {
    width: 100%;
}

.texto_footer {
    font-family: "OpenSans";
    height: 60%;
    padding: 100px;
    text-align: center;
}

.nombre_marca {
    font-family: "Rubik";
    font-size: 50px;
    color: #000;
}

.carrusel {
    display: flex;
    padding: 50px;
}

.IA {
    width: 250px;
    height: 167px;
}

.robot {
    width: 250px;
}

.nube {
    width: 250px;
}

.cuadro1 {
    display: flex;
    gap: 20px;
    padding: 50px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 2px solid #000;
}

.contenedor_mision_vision {
    display: flex;
    gap: 20px;
    padding: 50px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.mision {
    width: 250px;
}
.vision {
    width: 250px;
}

.caja_mision {
    display: flex;
    gap: 20px;
    padding: 50px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.caja_vision {
    display: flex;
    gap: 20px;
    padding: 50px;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
}

.mapa {
    width: 450px;
    height: 450px;
    border: 2px solid #bdbdbd;
    border-radius: 2%;
}

.contenedor_contacto {
    display: flex;
    gap: 30px;
    padding: 50px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.contacto {
    display: flex;
    gap: 20px;
    padding: 50px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contenedor_primario {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 10px;
    
}

.location {
    width: 64px;
}

.mensaje {
    width: 64px;
}

.telefono {
    width: 64px;
}

.ig {
    width: 64px;
}

.salto {
    margin-top: 90px;
    height: 10px;
    width: 100%;
    background: linear-gradient(to right, #c7c7c7, #0011ff);
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }
    .caja_mision {
        display: flex;
        gap: 20px;
        padding: 50px;
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }
    
    .caja_vision {
        display: flex;
        gap: 20px;
        padding: 50px;
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }
    .carrusel {
        flex-direction: column;
        align-items: center;
    }
    .IA, .robot, .nube {
        width: 100%;
        height: auto;
    }
    .contenedor_mision_vision {
        flex-direction: column;
    }
    .mapa {
        width: 100%;
        height: auto;
    }
    .contenedor_contacto {
        flex-direction: column;
    }
    .contacto {
        flex-direction: column;
    }
    
}